<!DOCTYPE html>
<html class="no-js" lang="">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="theme-color" content="#fafafa">

  <title>
  	{% block title %}Title{% endblock %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="manifest" href="site.webmanifest"> -->
  <!-- <link rel="apple-touch-icon" href="icon.png"> -->
  <!-- Place favicon.ico in the root directory -->
  <!-- <link rel="stylesheet" href="css/normalize.css"> -->
  <!-- <link rel="stylesheet" href="css/main.css"> -->

  <!-- <link rel="stylesheet" type="text/css" href="/org/css/styles.css" /> -->
</head>

<body>
{% block content %}
{% endblock %}
</body>
</html>
