# ---------------------------------------------------------------------------- #
# Requirements without Version Specifiers
# ---------------------------------------------------------------------------- #
#
# This requirements file has all the dependencies with descriptions for why
# they were added but without specific versions. For local and dev environments
# new builds will check dependency versions so developers can maintain the
# most recent dependencies.
#

# Webserver Framework
# version is required by django-pyodbc-azure
Django<2.2,>=2.1.0

# For connecting to sql server
django-pyodbc-azure

# For connecting to postgres
psycopg2
